{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-STSV2HNZVW"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-STSV2HNZVW");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Team</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'ourTeam/app.js'%}"></script>
    <link
      rel="stylesheet"
      href="{% static 'ourTeam/ourTeamStyle.css'%}"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- nav section starts here: -->
    <nav class="nav-container">
      <a href="/">
        <div class="nav-logo">
          <img class="logo-image" src="{% static 'images/logo-black.png'%}" />
          <h1 class="logo-text">Bridges</h1>
        </div>
      </a>
      <div class="nav-items">
        <ul>
          <li><a href="/" class="nav-item">Home</a></li>
          <li><a href="/articles/" class="nav-item">Articles</a></li>
          <li>
            <a href="/joinOurTeam/" class="nav-item">Join&nbsp;our&nbsp;Team</a>
          </li>
          <li><a href="/about/" class="nav-item">About</a></li>
          <li class="last-item">
            <a href="/contact/" class="nav-item">Contact</a>
          </li>
        </ul>
        <div class="bars-container">
          <span class="top-bar bar"></span>
          <span class="middle-bar bar"></span>
          <span class="bottom-bar bar"></span>
        </div>
      </div>
      <!-- The Nav Items when they are expanded from their collapsed form -->
      <div class="nav-items-collapse">
        <ul>
          <li><a href="/" class="nav-item">Home</a></li>
          <li><a href="/articles/" class="nav-item">Articles</a></li>
          <li>
            <a href="/joinOurTeam/" class="nav-item">Join&nbsp;our&nbsp;Team</a>
          </li>
          <li><a href="/about/" class="nav-item">About</a></li>
          <li><a href="/contact/" class="nav-item">Contact</a></li>
        </ul>
      </div>
    </nav>

    <section class="hero">
      <div class="hero-content-container">
        <div class="head-container">
          <h2 class="hero-text">Meet the Team!</h2>
          <img
            class="brush-stroke"
            src="{% static 'images/brush-effect.png'%}"
            alt=""
          />
        </div>
        <p class="hero-para">
          Our team at bridges consists of nine individuals who attend five
          different universities and are enrolled in nine different programs,
          located all over the province. If you have any questions, feel free to
          reach out and contact us! We would love to connect.
        </p>
        <a href="/contact/" class="main-button accent-button">Get in touch!</a>
      </div>
      <div class="hero-image-container">
        <img
          class="hero-image"
          src="{% static 'images/team-illustration.svg'%}"
          alt=""
        />
      </div>
    </section>

    <section class="team-grid">
      <div class="team-row">
        <div class="team-card">
          <div id="chiddhanya-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Chiddhanya Alagesan</p>
            <h4 class="card-position">Chief Executive Officer</h4>
          </div>
        </div>

        <div class="team-card">
          <div id="leesa-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Leesa Panchal</p>
            <h4 class="card-position">Chief Executive Officer</h4>
          </div>
        </div>

        <div class="team-card">
          <div id="harjot-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Harjot Suri</p>
            <h4 class="card-position">Chief Marketing Officer</h4>
          </div>
        </div>
      </div>

      <div class="team-row">
        <div class="team-card">
          <div id="vi-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Vi Vo</p>
            <h4 class="card-position">Chief Marketing Officer</h4>
          </div>
        </div>

        <div class="team-card">
          <div id="hussain-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Hussain Jan</p>
            <h4 class="card-position">Chief Editor</h4>
          </div>
        </div>

        <div class="team-card">
          <div id="stephanie-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Stephanie Huynh</p>
            <h4 class="card-position">Chief Editor</h4>
          </div>
        </div>
      </div>

      <div class="team-row">
        <div class="team-card">
          <div id="avi-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Avi Patel</p>
            <h4 class="card-position">Chief Technology Officer</h4>
          </div>
        </div>

        <div class="team-card">
          <div id="andrick-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Andrick Punit</p>
            <h4 class="card-position">Head of Frontend Development</h4>
          </div>
        </div>

        <div class="team-card">
          <div id="varun-image" class="card-image"></div>

          <div class="card-content">
            <p class="card-name">Varun Garg</p>
            <h4 class="card-position">Head of Backend Development</h4>
          </div>
        </div>
      </div>
    </section>

    <!-- footer section starts here: -->
    <footer class="footer-container">
      <div class="footer-content">
        <p class="footer-slogan">
          <span>Bridges to Success.</span> <span>Bridges to Connections.</span>
          <span>Bridges to University.</span>
        </p>
        <ul>
          <li>
            <a
              href="{% static 'documents/privacy-policy.pdf'%}"
              class="footer-item"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        <img class="logo-image" src="{% static 'images/logo-black.png'%}" />
        <p class="copyright-text">Bridges © 2020</p>
      </div>
      <div class="footer-links">
        <!-- Add LinkedIn Link Vector Here -->
        <a
          class="footer-link linkedin-link"
          target="-blank"
          href="https://www.linkedin.com/company/54086203/"
          ><img class="" src="{% static 'images/linkedin.svg'%}" alt="" />
        </a>
        <a
          class="footer-link youtube-link"
          target="-blank"
          href="https://www.youtube.com/channel/UCuYtMcz5KsBxxClplacyVwA"
          ><img class="" src="{% static 'images/youtube.svg'%}" alt=""
        /></a>
        <a
          class="footer-link instagram-link"
          target="-blank"
          href="https://www.instagram.com/bridgestouni/"
          ><img class="" src="{% static 'images/instagram.svg'%}" alt="" />
        </a>
        <!-- Add YouTube Link Vector Here -->
        <!-- Add Instagram Link Vector Here -->
      </div>
    </footer>
  </body>
</html>
