{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STSV2HNZVW"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-STSV2HNZVW');
    </script>


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bridges Linktree</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'linktree/app.js'%}"></script>
    <link
      rel="stylesheet"
      href="{% static 'linktree/linktreeStyle.css'%}"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- nav section starts here: -->


    <section class="main">

      <div class="profile-section">
        <div class="profile-image">
          <img class="logo-image" src="{% static 'images/logo-black.png'%}" alt="Bridges Logo"/>
        </div>
        <div class="profile-tag">
          <h2>@bridgestouni</h2>
        </div>
      </div>

      <div class="links-section">
        <ul class="links-list">
          <a href="https://www.instagram.com/bridgestouni/" target="_blank" class="link-item"><li>Instagram</li></a>
          <a href="https://www.tiktok.com/@bridgestouni" target="_blank" class="link-item"><li>TikTok</li></a>
          <a href="https://www.linkedin.com/company/bridges-to-university/" target="_blank" class="link-item"><li>LinkedIn</li></a>
          <a href="http://www.bridgestouni.com/" target="_blank" class="link-item"><li>Website</li></a>
          <a href="https://forms.gle/rfsbsdqj3nJaaiKo8" target="_blank" class="link-item"><li>Newsletter Signup</li></a>
          <a href="https://discord.gg/Xy4cxBzK" target="_blank" class="link-item"><li>Discord</li></a>
          <a href="mailto:bridgestouniversity@gmail.com?subject=Hey!" target="_blank" class="link-item"><li>Email</li></a>
          <a href="https://www.twitch.tv/bridgestouni" target="_blank" class="link-item"><li>Twitch</li></a>
          <a href="https://www.youtube.com/channel/UCuYtMcz5KsBxxClplacyVwA" target="_blank" class="link-item"><li>YouTube</li></a>
        </ul>
      </div>

    </section>
    
      
    </div>
  </body>
</html>
