{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-STSV2HNZVW"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-STSV2HNZVW");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'home/app.js'%}"></script>
    <link
      rel="stylesheet"
      href="{% static 'home/homeStyle.css'%}"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- nav section starts here: -->
    <nav class="nav-container">
      <a href="/">
        <div class="nav-logo">
          <img class="logo-image" src="{% static 'images/logo-black.png'%}" />
          <h1 class="logo-text">Bridges</h1>
        </div>
      </a>
      <div class="nav-items">
        <ul>
          <li><a href="/" class="nav-item">Home</a></li>
          <li><a href="/articles/" class="nav-item">Articles</a></li>
          <li><a href="/mentorship/" class="nav-item">Mentorship</a></li>
          <li><a href="/about/" class="nav-item">About</a></li>
          <li class="last-item">
            <a href="/contact/" class="nav-item">Contact</a>
          </li>
        </ul>
        <div class="bars-container">
          <span class="top-bar bar"></span>
          <span class="middle-bar bar"></span>
          <span class="bottom-bar bar"></span>
        </div>
      </div>
      <!-- The Nav Items when they are expanded from their collapsed form -->
      <div class="nav-items-collapse">
        <ul>
          <li><a href="/" class="nav-item">Home</a></li>
          <li><a href="/articles/" class="nav-item">Articles</a></li>
          <li><a href="/mentorship/" class="nav-item">Mentorship</a></li>
          <li><a href="/about/" class="nav-item">About</a></li>
          <li><a href="/contact/" class="nav-item">Contact</a></li>
        </ul>
      </div>
    </nav>

    <section class="hero">
      <div class="hero-content-container">
        <div class="head-container">
          <h2 class="hero-text">
            Bridges to <span class="accent push-below">Success</span>.
            <br id="title-drop-2" />Bridges to
            <span class="accent push-below">Connections</span>.
            <br id="title-drop-3" />Bridges to
            <span class="accent push-below">University</span>.
          </h2>
          <img
            class="brush-stroke"
            src="{% static 'images/brush-effect.png'%}"
            alt=""
          />
        </div>
        <p class="hero-para">
          A student support initiative designed to help ease the transition from
          high school to post-secondary. To inspire students as they take their
          first step into their careers with dedication, tenacity, and care.
        </p>
        <a
          target="-blank"
          href="https://forms.gle/rfsbsdqj3nJaaiKo8"
          class="main-button accent-button"
          >Sign up for our Newsletter!</a
        >
      </div>
      <div class="hero-image-container">
        <img
          class="hero-image"
          src="{% static 'images/home-hero-illustration.svg'%}"
          alt=""
        />
      </div>
    </section>

    <!-- recent events section starts here: -->
    <section class="recent-events">
      <div class="head-container">
        <h3 class="sub-text">Recent Events</h3>
        <img
          class="brush-stroke-sub"
          src="{% static 'images/brush-effect.png'%}"
          alt=""
        />
      </div>
      <div class="countdown-container">
        <!-- start recentContent block -->
        {% block recentContent %}
        <!-- end recentContent block -->
        {% endblock %}
      </div>
      <!-- <div class="filler">
        <p>Recent Section Coming Soon</p>
      </div> -->
    </section>

    <!-- footer section starts here: -->
    <footer class="footer-container">
      <div class="footer-content">
        <p class="footer-slogan">
          <span>Bridges to Success.</span> <span>Bridges to Connections.</span>
          <span>Bridges to University.</span>
        </p>
        <ul>
          <li>
            <a
              target="_blank"
              href="{% static 'documents/privacy-policy.pdf'%}"
              class="footer-item"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        <img class="logo-image" src="{% static 'images/logo-black.png'%}" />
        <p class="copyright-text">Bridges © 2020</p>
      </div>
      <div class="footer-links">
        <!-- Add LinkedIn Link Vector Here -->
        <a
          class="footer-link linkedin-link"
          target="-blank"
          href="https://www.linkedin.com/company/54086203/"
          ><img class="" src="{% static 'images/linkedin.svg'%}" alt="" />
        </a>
        <a
          class="footer-link youtube-link"
          target="-blank"
          href="https://www.youtube.com/channel/UCuYtMcz5KsBxxClplacyVwA"
          ><img class="" src="{% static 'images/youtube.svg'%}" alt=""
        /></a>
        <a
          class="footer-link instagram-link"
          target="-blank"
          href="https://www.instagram.com/bridgestouni/"
          ><img class="" src="{% static 'images/instagram.svg'%}" alt="" />
        </a>
        <!-- Add YouTube Link Vector Here -->
        <!-- Add Instagram Link Vector Here -->
      </div>
    </footer>
  </body>
</html>
