/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: rgb(22, 22, 22);
}

/* Custom Contact button */
.btn-primary,
.btn-primary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: rgb(251, 210, 46);
  padding: 4px 9px;
  border: .05rem solid;
  border-radius: 10px;
  margin-left: 3rem;

}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(0, 0, 0);
  margin: 0px;
  font-family:Arial Narrow, sans-serif	 ;


}



/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  padding: 10px 10px;
  }

.masthead-brand {
  margin-bottom: 5pt;
  font-size: large;
}

.nav-masthead .nav-link {
 
  font-weight: 1000;
  color: rgb(0, 0, 0,);
  background-color: transparent;
 
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(251, 210, 46);
}

.nav-masthead .nav-link +.nav-link{
  margin-left: 3rem;
}

.navbar-brand
{
  font-size: 40px;
}

.nav-masthead .active {
  color: rgb(24, 20, 20);
}

@media (min-width: 48em) {
  .masthead-brand {
   
    float: inline-start;
  }
  .nav-masthead {
position: absolute; 
right: 20pt;
top: 10pt;

}
}
/*
 * content
 */


 .button {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  background-color:rgb(251, 210, 46);
}
.button1 {
position: absolute;
left: 5%;
top: 390px;

} 

.button2 {
  position: absolute;
  left: 0%;
  top: 125px;
  
  } 

.modal {
  position: fixed;
  width: 100%;
  left: 5%;
  height: 100%;
  top: 5%;
  background-color: #fff;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  padding-bottom: 60px;
  z-index: 10000;
  overflow-x:auto;
  overflow-y:auto;
}

/*
 * content 1 THIS IS THE ISSUE I DONT KNOW HOW TO MAKE IT GO LOWER TO SCROLL ON WEBPAGE
 */


 .modal-image1 {
  position: absolute;
  top:175px;
  right:5%;
  width:500px;

}

.modal-streak1 {
  position: absolute;
  top:190px;
  left: 5%;
}


.modal-header1{
  
  position:absolute;
  top:175px;
  left: 5%;
  width:50%;
  overflow: hidden;
  
}

.modal-content1 {
 
  position:absolute;
  top:275px;
  left: 5%;
  width:50%;
  line-height: 2 ;
}



/*
 * content 2 THIS IS THE ISSUE I DONT KNOW HOW TO MAKE IT GO LOWER TO SCROLL ON WEBPAGE
 */


 .modal-image2 {
  position: absolute;
  top:625px;
  left:65%;
  width:620px;

}

.modal-streak2 {
  position: absolute;
  top:640px;
  left: 5%;
}


.modal-header2{
  
  position:absolute;
  top:625px;
  left: 5%;
  width:50%;
  overflow: hidden;
  
}

.modal-content2 {
 
  position:absolute;
  top:700px;
  left: 5%;
  width:50%;
  line-height: 2 ;
}



/*
 * content 3 THIS IS THE ISSUE I DONT KNOW HOW TO MAKE IT GO LOWER TO SCROLL ON WEBPAGE
 */


 .modal-image3 {
  position: absolute;
  top:1050px;
  left:5%;
  width:500px;

}

.modal-streak3 {
  position: absolute;
  top:1065px;
  right:50%;
}


.modal-header3{
  
  position:absolute;
  top:1050px;
  right:10%;
  width:50%;
  overflow: hidden;
  
}

.modal-content3 {
 
  position:absolute;
  top:1125px;
  right:10%;
  width:50%;
  line-height: 2 ;
}


/*
 * content 4 
 */


 .modal-image4 {
  position: absolute;
  top:1350px;
  left:65%;
  width:500px;

}

.modal-streak4 {
  position: absolute;
  top:1365px;
  left: 5%;
}


.modal-header4{
  
  position:absolute;
  top:1350px;
  left: 5%;
  width:50%;
  overflow: hidden;
  
}

.modal-content4 {
 
  position:absolute;
  top:1425px;
  left: 5%;
  width:50%;
  line-height: 2 ;
}




/*
footer
*/
.footer-distributed {
  position: absolute;
  background-color:transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  height: 60px;
top: 1800px  ;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}