:root {
  --accent: #fbd22e;
  --hover: #f1c205;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  box-sizing: border-box;
  padding: 0 60px;
  font-family: "Roboto";
}

.accent {
  color: var(--accent);
}

.push-below {
  z-index: -1;
}

.nav-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  position: relative;
  z-index: 4;
  background-color: white;
}

.nav-logo {
  display: flex;
  /* border: 1px solid purple; */
  align-items: center;
}

.nav-logo .logo-image {
  height: 40px;
  margin-right: 20px;
}

.nav-logo .logo-text {
  font-weight: 500;
  font-size: 2.1em;
  letter-spacing: 0.5px;
}

.nav-items {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
}

.nav-items ul {
  /* border: 1px solid green; */
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: center;
}

.nav-items li {
  margin-left: 10px;
  margin-right: 10px;
  /* border: 1px solid blue; */
  /* padding: 0 2px; */
  /* padding: 5px 25px; */
}

.nav-items .last-item {
  margin-right: 0;
}

.nav-item {
  font-size: 1.2em;
  width: 100%;
  height: 100%;
  font-weight: 300;
  /* border: 1px solid cyan; */
  padding: 5px 15px;
}

.nav-items .nav-item:hover {
  color: var(--accent);
}

.nav-items ul li:last-of-type .nav-item:hover {
  color: black;
  background-color: var(--hover);
}

/* .nav-items li:nth-of-type(3) a { */
/* font-weight: 400; */
/* letter-spacing: 0.5px; */
/* color: var(--accent); */
/* } */

.nav-items li:last-of-type a {
  background-color: var(--accent);
  border-radius: 10px;
  border: 1px solid black;
}

.bars-container {
  display: none;
  /* border: 1px solid red; */
  padding: 5px;
  cursor: pointer;
  /* height: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* height: 100px; */
  /* width: 100px; */
}

.bars-container.nav-open .middle-bar {
  /* display: none; */
  opacity: 0;
}

.nav-open .top-bar {
  transition: transform 0.4s ease-in-out, top 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.nav-open .middle-bar {
  transition: transform 0.4s ease-in-out, top 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.nav-open .bottom-bar {
  transition: transform 0.4s ease-in-out, top 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.bars-container.nav-open .top-bar {
  transform: rotate(-45deg);
  position: relative;
  top: 7px;
}

.bars-container.nav-open .bottom-bar {
  transform: rotate(45deg);
  /* background-color: cyan; */
  position: relative;
  top: -7px;
}

.bars-container:hover .bar {
  background-color: var(--accent);
}

.bars-container .bar {
  display: block;
  width: 26px;
  height: 4px;
  margin: 3px;
  background-color: black;
  /* border: 1px solid cyan; */
}

.nav-items-collapse {
  display: none;
  position: absolute;
  /* border: 1px solid red; */
  /* border-bottom: 2px solid black; */
  border: 1px solid rgba(223, 223, 223, 0.845);
  border-top: none;
  width: 100%;
  top: 50px;
  z-index: 3;
  animation: fade-in ease-in-out 0.2s;
  animation-fill-mode: forwards;
  /* -webkit-box-shadow: 2px 3px 3px 3px rgba(142, 142, 142, 0.4); Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* -moz-box-shadow: 2px 3px 3px 3px rgba(142, 142, 142, 0.4); Firefox 3.5 - 3.6 */
  /* box-shadow: 2px 3px 3px 3px rgba(142, 142, 142, 0.4); Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.nav-items-collapse ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */

  /* box-shadow: 0px 5px 5px rgba(228, 228, 228, 0.858), */
  /* -3px 3px 4px rgba(228, 228, 228, 0.858), */
  /* -3px 3px 4px rgba(228, 228, 228, 0.858); */
}

.nav-items-collapse li {
  padding: 0;
  /* border: 1px solid cyan; */
  padding: 0px 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-items-collapse .nav-item {
  /* border: 1px solid blue; */
  height: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: white;
  font-size: 1.1em;
}

.nav-items-collapse .nav-item:hover {
  background-color: var(--accent);
}

.nav-items-collapse li:first-of-type .nav-item {
  /* background-color: var(--accent); */
}

.hero {
  /* border: 1px solid green; */
  min-height: calc(100vh - 65px);
  /* display: flex; */
  position: relative;
  /* margin-bottom: 10px; */
}

.hero-content-container {
  /* border: 1px solid red; */
  /* position: relative;*/

  width: 55%;
  top: 25%;

  position: absolute;
}

.hero-text {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 35px;
}

#title-drop-2 {
  display: none;
}

.hero-para {
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 60px;
  line-height: 35px;
}

.main-button {
  font-size: 1.3em;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 400;
}

/* .section-button {
  font-size: 1em;
  border: 1px solid black;
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: 400;
  margin-bottom: 30px; */
/* } */

/* .team .section-content p {
  margin-bottom: 18px;
  /* position: relative; */
/* } */

/* .team { */
/* margin-bottom: 100px; */
/* } */

.accent-button {
  background-color: var(--accent);
}

.accent-button:hover {
  background-color: var(--hover);
}

.hero .hero-image-container {
  /* border: 1px solid cyan; */
  /* position: relative; */
  display: flex;
  justify-content: right;
  align-items: center;
  /* background-color: red; */

  position: absolute;
  width: 25%;
  right: 3%;
  top: 20%;

  /* transform: translateY(-50%); */
}

.hero-image {
  /* height: 70%; */
  width: 100%;
  z-index: -1;
  /* border: 1px solid red; */
}

.head-container {
  position: relative;
  /* border: 1px solid blue; */
}

.brush-stroke {
  /* border: 1px solid black; */
  position: absolute;
  top: 1px;
  left: -20px;
  height: 50px;
  z-index: -1;
  /* height: 100px; */
}

.brush-stroke-sub {
  /* border: 1px solid black; */
  position: absolute;
  top: -5px;
  left: -20px;
  height: 50px;
  z-index: -1;
  /* height: 100px; */
}

.sub-text {
  font-size: 2em;
  font-weight: 500;
}

/* .filler {
    width: 100%;
    height: 200px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  } */

/* .recent-events { */
/* border: 1px solid red; */
/* } */

/* .vision,
.values { */
/* border: 1px solid red; */
/* margin-bottom: 60px; */
/* } */

/* .values .section-container { */
/* flex-direction: row-reverse; */
/* } */

/* .values .head-container {
  margin-bottom: 30px;
} */

.head-container {
  /* border: 1px solid cyan; */
}

/* .flex-container { */
/* border: 1px solid red; */
/* flex-grow: 1; */
/* flex-grow: 1;
  display: flex;
  justify-content: center;
} */
/* 
.section-container { */
/* border: 1px solid cyan; */
/* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

/* .section-content { */
/* border: 1px solid green; */
/* width: 60%; */
/* } */
/* 
.section-content p {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 30px; */
/* border: 1px solid red; */
/* } */

/* .section-image { */
/* border: 1px solid orange; */
/* height: 200px; */
/* width: 200px; */
/* padding: 20px; */
/* border: 1px solid lightgray; */
/* border-radius: 10px; */
/* } */
/* 
.vision-image {
  width: 100%;
  height: 100%;
} */

/* TEAM GRID SECTION STARTS HERE */
.team-grid {
  /* border: 1px solid red; */
}

.team-row {
  /* border: 1px solid cyan; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.team-row:last-of-type {
  margin-bottom: 80px;
}

.team-card {
  /* border: 1px solid green; */
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}

.card-image {
  /* border: 1px solid purple; */
  width: 250px;
  height: 350px;
  /* position: absolute; */
  /* top: 0; */
}

.card-content {
  /* border: 1px solid orange; */
  padding: 10px 0px;
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: white; */
  /* z-index: 5; */
  width: 100%;
  /* bottom: 0; */
}

.card-name {
  /* border: 1px solid pink; */
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2px;
}

.card-position {
  /* border: 1px solid turquoise; */
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}

#chiddhanya-image {
  background-image: url("/static/images/portraits/chiddhanya-min.195821a70d3c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35% 50%;
}

#leesa-image {
  background-image: url("/static/images/portraits/leesa-min.1b39af6fb962.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

#harjot-image {
  background-image: url("/static/images/portraits/harjot-min.500bcca1554a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 50%;
}

#vi-image {
  background-image: url("/static/images/portraits/vi-min.312250567ff2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 53% 50%;
}

#hussain-image {
  background-image: url("/static/images/portraits/hussain-min.4884c4a41cd2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 22% 50%;
}

#stephanie-image {
  background-image: url("/static/images/portraits/stephanie-min.29c2fae97a5b.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 50%;
}

#avi-image {
  background-image: url("/static/images/portraits/avi-min.04fdb8746a81.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 50%;
}

#andrick-image {
  background-image: url("/static/images/portraits/andrick-min.3b9ba6f1ab30.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 43% 50%;
}

#varun-image {
  background-image: url("/static/images/portraits/varun-min.152076e01ba1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 50%;
}

/* FOOTER */
.footer-container {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  padding-bottom: 15px;
}

.footer-content ul {
  list-style-type: none;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.footer-slogan {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 25px;
}

.footer-item {
  font-weight: 300;
  /* border: 1px solid purple; */
  padding: 0px 0px;
  font-size: 1em;
  margin-right: 15px;
}

.footer-item:hover {
  color: var(--accent);
}

/* .footer-content ul li:first-of-type .footer-item {
  color: var(--accent);
  font-weight: 400;
} */

.footer-content ul li:last-of-type .footer-item {
  margin-right: 0;
}

.footer-copyright {
  position: absolute;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.footer-copyright .logo-image {
  width: 20px;
  margin-bottom: 5px;
}

.footer-copyright .copyright-text {
  font-weight: 300;
  font-size: 0.9em;
}

.footer-links {
  /* border: 1px solid cyan; */
  display: flex;
  align-items: center;
}

.footer-link {
  /* height: 20px;*/
  margin: 2px;
  /* border: 1px solid red; */
  padding: 5px;
  cursor: pointer;
}

.footer-link img {
  width: 30px;
}

/* MEDIA QUERIES BELOW!!! */

@media screen and (max-width: 1444px) {
  .hero-content-container {
    /* width: 65%; */
  }
}

@media screen and (max-width: 1338px) {
  .nav-logo .logo-image {
    height: 35px;
  }

  .nav-logo .logo-text {
    font-size: 1.9em;
  }

  .nav-item {
    font-size: 1.1em;
  }

  .hero-text {
    font-size: 2.4em;
  }
  .hero-para {
    font-size: 1.3em;
  }
  .section-container p {
    font-size: 1.2em;
  }

  .main-button {
    font-size: 1.2em;
  }

  .sub-text {
    font-size: 1.9em;
  }

  .hero-content-container {
    /* width: 70%; */
  }

  .hero .hero-image-container {
    /* width: 45%; */
    /* top: 20%; */
  }

  #title-drop-2 {
    /* display: block; */
  }
}

@media screen and (max-width: 1222px) {
  .hero-text {
    font-size: 2.2em;
  }

  .hero-para {
    font-size: 1.2em;
  }

  .main-button {
    font-size: 1.1em;
  }

  .sub-text {
    font-size: 1.9em;
  }

  #title-drop-2 {
    /* display: block; */
  }

  .hero-content-container {
    top: 20%;
  }

  .hero .hero-image-container {
    width: 30%;
    /* top: 20%; */
  }

  .card-image {
    width: 200px;
    height: 300px;
    /* max-height: 200px; */
    /* min-height: 270px; */
  }
  .team-card {
    width: 230px;
    height: 350px;
  }
  .team-row {
    margin-bottom: 50px;
  }

  #chiddhanya-image {
    background-position: 37% 50%;
  }

  #leesa-image {
    background-position: 33% 50%;
  }

  #harjot-image {
    background-position: 41% 50%;
  }

  #vi-image {
    background-position: 51% 50%;
  }

  #hussain-image {
    background-position: 25% 50%;
  }

  .footer-copyright {
    display: none;
  }
}

@media screen and (max-width: 1116px) {
  .nav-logo .logo-image {
    height: 30px;
  }

  .nav-logo .logo-text {
    font-size: 1.8em;
  }

  .nav-item {
    font-size: 1.1em;
  }

  .hero-text {
    font-size: 2.3em;
    margin-bottom: 20px;
  }

  .hero-para {
    font-size: 1.2em;
    margin-bottom: 40px;
  }

  #title-drop-2 {
    display: block;
  }

  .hero-content-container {
    top: 15%;
  }

  .hero .hero-image-container {
    /* width: 45%; */
    /* top: 20%; */
  }
}

@media screen and (max-width: 1000px) {
  .nav-logo .logo-image {
    height: 30px;
  }

  .nav-logo .logo-text {
    font-size: 1.8em;
  }

  .nav-item {
    font-size: 1em;
  }

  .hero-text {
    font-size: 2.3em;
    margin-bottom: 20px;
  }

  .hero-para {
    font-size: 1.2em;
    margin-bottom: 40px;
  }

  #title-drop-2 {
    display: none;
  }

  .hero-content-container {
    top: 15%;
    width: 100%;
    /* border: 1px solid red; */
  }

  .hero-para {
    width: 100%;
  }

  .hero .hero-image-container {
    width: 32%;
    /* top: 20%; */
    /* display: none; */
    /* border: 1px solid red; */
    bottom: -20%;
    opacity: 0.8;
  }

  .vision .head-container {
    margin-bottom: 20px;
  }

  .values .head-container {
    margin-bottom: 30px;
  }

  .team .head-container {
    margin-bottom: 20px;
  }

  .section-image {
    width: 160px;
    height: 160px;
  }

  .section-content {
    width: 68%;
  }

  .secton-content p {
    font-size: 1.1em;
  }

  .flex-container {
    flex-grow: 0;
  }

  .card-image {
    width: 150px;
    height: 220px;
    /* min-width: 150px; */
    /* min-height: 190px; */
  }

  .card-name {
    font-size: 1em;
  }

  .card-position {
    font-size: 0.9em;
  }

  .team-card {
    width: 150px;
    /* height: 245px; */
    height: auto;
  }

  .team-row {
    margin-bottom: 40px;
  }

  .team-row:last-of-type {
    margin-bottom: 80px;
  }

  #chiddhanya-image {
    background-position: 38% 50%;
  }

  #leesa-image {
    background-position: 34% 50%;
  }

  #andrick-image {
    background-position: 44% 50%;
  }

  #varun-image {
    background-position: 62% 50%;
  }
}

@media screen and (max-width: 850px) {
  .nav-logo .logo-image {
    height: 30px;
  }

  .nav-logo .logo-text {
    font-size: 1.8em;
  }

  .nav-item {
    font-size: 1em;
  }

  .hero-text {
    font-size: 2.3em;
    margin-bottom: 20px;
  }

  .hero-para {
    font-size: 1.2em;
    margin-bottom: 35px;
  }

  /* #title-drop-2 {
      display: block;
    } */

  .hero-content-container {
    top: 18%;
    width: 100%;
    /* border: 1px solid red; */
  }

  .hero-para {
    width: 100%;
    font-size: 1.1em;
  }

  .main-button {
    font-size: 1em;
  }

  .hero .hero-image-container {
    width: 45%;
    /* top: 20%; */
    display: none;
    /* border: 1px solid red; */
    /* bottom: -25%; */
    /* opacity: 0.8; */
  }

  .hero-content-container {
    top: 10%;
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
  }

  .hero {
    min-height: auto;
  }

  .footer-slogan {
    font-size: 1em;
  }

  .footer-link img {
    width: 25px;
  }
}

@media screen and (max-width: 800px) {
  .section-container,
  .values .section-container {
    flex-direction: column;
  }
  .section-content {
    width: 100%;
  }
  .flex-container {
    margin-top: 30px;
  }
  .vision,
  .values {
    /* border: 1px solid red; */
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 710px) {
  .nav-items ul {
    display: none;
  }

  .bars-container {
    display: block;
  }

  .nav-items-collapse.nav-open {
    display: block;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-item {
    line-height: 25px;
  }

  .footer-slogan {
    text-align: center;
  }

  .footer-slogan span {
    display: inline-block;
  }

  .footer-content ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-content {
    margin-bottom: 10px;
  }

  .footer-copyright {
    /* display: block; */
  }

  .card-image {
    width: 120px;
    height: 190px;
    /* min-width: 150px; */
    /* min-height: 190px; */
  }

  .card-name {
    font-size: 0.9em;
  }

  .card-position {
    font-size: 0.8em;
  }

  .team-card {
    width: 150px;
    /* height: 245px; */
    height: auto;
  }

  .team-row {
    margin-bottom: 40px;
    justify-content: space-between;
  }

  #chiddhanya-image {
    background-position: 38% 50%;
  }

  #leesa-image {
    background-position: 35% 50%;
  }

  #harjot-image {
    background-position: 42% 50%;
  }

  #vi-image {
    background-position: 51% 50%;
  }

  #hussain-image {
    background-position: 27% 50%;
  }

  #stephanie-image {
    background-position: 55% 50%;
  }

  #avi-image {
    background-position: 41% 50%;
  }

  #andrick-image {
    background-position: 43% 50%;
  }

  #varun-image {
    background-position: 60% 50%;
  }
}

@media screen and (max-width: 576px) {
  .team-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .card-image {
    width: 80%;
    height: 320px;
    /* min-width: 150px; */
    /* min-height: 190px; */
  }

  .card-name {
    font-size: 1em;
  }

  .card-position {
    font-size: 0.9em;
  }

  .team-card {
    width: 75%;
    /* height: 245px; */
    height: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 450px) {
  body {
    padding: 0 30px;
  }

  .hero-text {
    font-size: 2em;
  }

  .hero-para {
    font-size: 1.1em;
  }

  .brush-stroke {
    height: 35px;
    top: 5px;
    left: -15px;
  }

  .team-card {
    width: 80%;
  }

  .card-image {
    width: 80%;
    height: 320px;
  }
}

@media screen and (max-width: 388px) {
  .team-card {
    width: 100%;
  }

  .card-image {
    width: 180px;
    min-width: 180px;
    height: 240px;
  }
}

/* ANIMATION KEY FRAMES  */

@keyframes fade-in {
  0% {
    opacity: 0;
    top: 40px;
  }
  100% {
    opacity: 1;
    /* top: 60px; */
  }
}
