{% extends 'articles/base.html' %} {% load static %}

<div class="issues-container">
  <!-- open block -->
  {% block allIssues %}
  <!-- create for loop -->
  {% for item in issues.all %}
  <!-- for loop contents -->
  <div class="issue-card">
    <div class="issue-content">
      <div class="issue-head">
        <h4 class="issue-title">{{item.title}}</h4>
        <p class="issue-date">{{item.date}}</p>
      </div>
      <div class="issue-info">
        <p class="info-para">
          <span class="issue-topic">{{item.topics}}</span>
          <span class="issue-type">{{item.articleType}}</span>
          <span class="issue-authors">by {{item.authors}}</span>
        </p>
      </div>
      <div class="issue-summary-container">
        <p class="issue-summary">{{item.summary}}</p>
      </div>
      <div class="issue-links">
        <a
          class="issue-read-more"
          target="_blank"
          href="{% static 'documents/'%}{{item.documentLink}}"
          class="issue-read-more"
          >Read more</a
        >
      </div>
    </div>
    <div class="flex-container">
      <div class="issue-image-container">
        <img
          class="issue-image"
          src="{% static 'images/covers/'%}{{item.image2Link}}"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- end for loop -->
  {% endfor %}
  <!-- add 'no articles found' block -->
  {% if issues.count == 0 %}
  <div class="issue-card">
    Sorry! We found no articles matching your description.
  </div>
  {% endif %}
  <!-- end block -->
  {% endblock %}
  <!-- debugging block -->
  {% block debugging%} {{debugString}} {% endblock %}
</div>

<div>
  {% block hero %}
  <div class="hero-content-container">
    <p class="hero-small-text">Latest Issue:</p>
    <div class="head-container">
      <h2 class="hero-text">{{latestIssue.title}}</h2>
      <img
        class="brush-stroke"
        src="{% static 'images/brush-effect.png'%}"
        alt=""
      />
    </div>
    <p class="hero-para">{{latestIssue.summary}}</p>
    <a
      href="{% static 'documents/'%}{{latestIssue.documentLink}}"
      class="main-button accent-button"
      target="_blank"
      >View more!</a
    >
  </div>
  <div class="hero-image-container">
    <img
      class="hero-image"
      src="{% static 'images/covers/'%}{{latestIssue.image1Link}}"
      alt=""
    />
  </div>
  {% endblock %}
</div>
