:root {
  --accent: #fbd22e;
  --hover: #f1c205;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  box-sizing: border-box;
  padding: 0px 0px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #3d3b3d;
}

.accent {
  color: var(--accent);
}

.main {
  max-width: 650px;
  width: 650px;
  padding: 20px;
  padding-top: 30px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 50%;
  position: relative;
  /* left: 2px; */
  /* border: 1px solid red; */
}

.profile-tag {
  margin-bottom: 30px;
}

.profile-tag h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-weight: 500;
  color: white;
}

.links-section {
}

.links-list,
.linked-item,
.linked-item li {
  padding: 0;
  margin: 0;
}

.links-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.link-item {
  border: 2px solid #ffffff;
  display: inline-block;
  width: calc(100% - 40px);
  background-color: white;
  padding: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  transition: 0.1s ease-in-out background-color;
}

.link-item:hover {
  background-color: #3d3b3d;
}

.link-item:hover li {
  color: white;
}

.link-item:first-of-type {
  margin-top: 0;
}

.link-item:last-of-type {
  margin-bottom: 0;
}

.link-item li {
  transition: 0.1s ease-in-out color;
  color: #3d3b3d;
  text-transform: lowercase;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 0.9em;
}
