{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'contact/app.js'%}"></script>
    <link
      rel="stylesheet"
      href="{% static 'contact/contactStyles.css'%}"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- nav section starts here: -->
    <nav class="nav-container">
      <div class="nav-logo">
        <img class="logo-image" src="{% static 'images/logo-black.png'%}" />
        <h1 class="logo-text">Bridges</h1>
      </div>
      <div class="nav-items">
        <ul>
          <li><a href="/" class="nav-item">Home</a></li>
          <li><a href="/articles/" class="nav-item">Articles</a></li>
          <li><a href="/about/" class="nav-item">About</a></li>
          <li class="last-item">
            <a href="/contact/" class="nav-item">Contact</a>
          </li>
        </ul>
        <div class="bars-container">
          <span class="top-bar bar"></span>
          <span class="middle-bar bar"></span>
          <span class="bottom-bar bar"></span>
        </div>
      </div>
      <!-- The Nav Items when they are expanded from their collapsed form -->
      <div class="nav-items-collapse">
        <ul>
          <li><a href="/" class="nav-item">Home</a></li>
          <li><a href="/articles/" class="nav-item">Articles</a></li>
          <li><a href="/about/" class="nav-item">About</a></li>
          <li><a href="/contact/" class="nav-item">Contact</a></li>
        </ul>
      </div>
    </nav>

    {% include 'contact/messages.html' %}

    <section class="hero">
      <div class="hero-content-container">
        <div class="head-container">
          <h2 class="hero-text">Get in touch!</h2>
          <img
            class="brush-stroke"
            src="{% static 'images/brush-effect.png'%}"
            alt=""
          />
        </div>
        <p class="hero-para">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          imperdiet ligula at aliquam iaculis. Nulla nec porta sem, vitae
          vulputate neque. Nunc magna dui, feugiat a quam vitae, mattis accumsan
          leo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore,
          impedit.
        </p>

        <ul class="hero-links">
          <li>
            <a
              class="hero-link-item"
              target="-blank"
              href="https://www.instagram.com/bridgestouni/"
              >Instagram</a
            >
          </li>
          <li>
            <a
              class="hero-link-item"
              target="-blank"
              href="https://www.linkedin.com/company/54086203/"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              href="mailto:bridgestouniversity@gmail.com?subject=Hey!&body=Hey there, I would love to chat!"
              class="hero-link-item"
              >Email</a
            >
          </li>
        </ul>
      </div>
      <div class="hero-image-container">
        <img
          class="hero-image"
          src="{% static 'images/contact-illustration.svg'%}"
          alt=""
        />
      </div>
    </section>

    <section class="message-section">
      <div class="head-container">
        <h3 class="sub-text">Send a Message!</h3>
        <img
          class="brush-stroke-sub"
          src="{% static 'images/brush-effect.png'%}"
          alt=""
        />
      </div>

      <div class="section-container">
        <form
          class="message-form"
          method="POST"
          action="{% url 'contact-page' %}"
        >
          {% csrf_token %}
          <label class="input-labels" for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Ex: John Doe"
            required
          />
          <label class="input-labels" for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="johndoe@gmail.com"
            required
          />
          <label class="input-labels" for="message">Message</label>
          <textarea
            id="message-input"
            name="message"
            placeholder="hello!"
          ></textarea>
          <input
            type="submit"
            value="Send!"
            class="accent-button submit-button"
          />
        </form>
        <div class="flex-container">
          <div class="message-image">
            <img
              id="airplane-image"
              src="{% static 'images/message-illustration.svg'%}"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <section class="privacy-section">
      <div class="head-container">
        <h3 class="sub-sub-text">Privacy Policy</h3>
        <img
          class="brush-stroke-sub-sub"
          src="{% static 'images/brush-effect.png'%}"
          alt=""
        />
      </div>
      <div class="privacy-container">
        <p class="privacy-intro">
          This privacy notice applies to all information collected through our
          Services (which, as described above, includes our Website, Sign Up
          Form and Social Media Platforms), as well as any related services,
          sales, marketing or events. Please read this privacy notice carefully
          as it will help you understand what we do with the information that we
          collect.
        </p>

        <a
          target="_blank"
          href="{% static 'documents/privacy-policy.pdf'%}"
          class="privacy-button"
          >View Privacy Policy</a
        >
      </div>
    </section>

    <!-- footer section starts here: -->
    <footer class="footer-container">
      <div class="footer-content">
        <p class="footer-slogan">
          <span>Bridges to Success.</span> <span>Bridges to Connections.</span>
          <span>Bridges to University.</span>
        </p>
        <ul>
          <li><a href="/" class="footer-item">Home</a></li>
          <li><a href="/articles/" class="footer-item">Articles</a></li>
          <li><a href="/about/" class="footer-item">About</a></li>
          <li><a href="/contact/" class="footer-item">Contact</a></li>
          <li>
            <a
              target="_blank"
              href="{% static 'documents/privacy-policy.pdf'%}"
              class="footer-item"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-copyright">
        <img class="logo-image" src="{% static 'images/logo-black.png'%}" />
        <p class="copyright-text">Bridges © 2020</p>
      </div>
      <div class="footer-links">
        <!-- Add LinkedIn Link Vector Here -->
        <a
          class="footer-link linkedin-link"
          target="-blank"
          href="https://www.linkedin.com/company/54086203/"
          ><img class="" src="{% static 'images/linkedin.svg'%}" alt="" />
        </a>
        <a
          class="footer-link youtube-link"
          target="-blank"
          href="https://www.youtube.com/channel/UCuYtMcz5KsBxxClplacyVwA"
          ><img class="" src="{% static 'images/youtube.svg'%}" alt=""
        /></a>
        <a
          class="footer-link instagram-link"
          target="-blank"
          href="https://www.instagram.com/bridgestouni/"
          ><img class="" src="{% static 'images/instagram.svg'%}" alt="" />
        </a>
        <!-- Add YouTube Link Vector Here -->
        <!-- Add Instagram Link Vector Here -->
      </div>
    </footer>

    <script>
      setTimeout(function () {
        if ($("#msg").length > 0) {
          $("#msg").remove();
        }
      }, 5000);
    </script>
  </body>
</html>
